/* variables */
:root {
    --primary: black;
    --secondary: gray;
}

/* reset */
li{
    list-style-type: none;
}

body, p, a, ul, li, h1 {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* base styles */
.container {
    margin-top: 80px;
    color: var(--primary);
    font-family: 'Europa', serif;
    overflow-x: hidden;
    display: inline-block;
    font-size: 18px;
}

/* fonts */
@import url('https://use.typekit.net/rim7wdm.css');

h1{
    font-size: 2em;
}


/* mobile styles */

/* small table styles */
@media screen and (min-width: 620px){
    .container {
        font-size: 20px;
    }
}

/* large tablets &  laptop styles */
@media screen and (min-width: 960px){
    .container {
        font-size: 22px;
    }
}

/* desktop styles */
@media screen and (min-width: 1200px){
    .container {
        font-size: 24px;
    }

}
